<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body"><!-- Basic Inputs start -->
      <section class="textarea-select">
      <!-- Textarea start -->
        <%- include ('./layout/partials/messages') %>
        <div class="row">
          <div class="col-12 mt-3 mb-1">
              <h4 class="text-uppercase">Bot Configuration</h4>
              <p>Since you are giving your private key, tt is recommended that you use a dummy wallet account. </p>
          </div>
        </div>
        <div class="row match-height">
          <div class="col-lg-3 col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Bot Startup / Shutdown</h4>
                  </div>
                  <div class="card-block">
                      <div class="card-body">
                          <p class="card-subtitle">Bot is currently offline</p>
                          <form action="/bot/start-up" method="POST">
                            <button type="submit" class="btn mr-1 mb-1 btn-success btn-lg">Start</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-9 col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Bot Configuration data</h4>
                  </div>
                  <div class="card-block">
                      <div class="card-body">
                        <div class="card-body">
                          <form action="/bot/configuration/<%= bot.id %>" method="POST">

                            <h5 class="mt-2">Wallet Private Key</h5>
                            <fieldset class="form-group">
                              <input type="text" class="form-control" id="placeholderInput" name="wallet" value="<%= bot.wallet %>">
                            </fieldset>
      
                            <h5 class="mt-2">Initial Amount (BNB)r</h5>
                            <fieldset class="form-group">
                              <input type="number" step="0.001" class="form-control" id="placeholderInput" name="initialAmount" value="<%= bot.initialAmount %>">
                            </fieldset>
      
                            <h5 class="mt-2">Multiplier Expected</h5>
                            <fieldset class="form-group">
                              <input type="number" step="0.1" class="form-control" id="placeholderInput" name="autoMultiplier" value="<%= bot.autoMultiplier %>">
                            </fieldset>

                            <h5 class="mt-2">Slippage</h5>
                            <fieldset class="form-group">
                              <input type="number" class="form-control" id="placeholderInput" name="autoMultiplier" value="<%= bot.slippage %>">
                            </fieldset>

                            <h5 class="mt-2">Max Number of Current Trades</h5>
                            <fieldset class="form-group">
                              <input type="number" class="form-control" id="placeholderInput" name="maxTransaction" value="<%= bot.maxTransaction %>">
                            </fieldset>

                            <h5 class="mt-2">Max Time per Trade (seconds)</h5>
                            <fieldset class="form-group">
                              <input type="number" class="form-control" id="placeholderInput" name="maxTime" value="<%= bot.maxTime %>">
                            </fieldset>

                            <button type="submit" class="btn mr-1 mb-1 btn-success btn-lg">Save</button>
                          </form>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      <!-- Textarea end -->
      </section>
    </div>
  </div>
</div>