<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Contract Code's Constraints Table </h3>
        </div>
      </div>
      <div class="content-body"><!-- Basic Tables start -->
        <%- include ('../../layout/partials/messages') %>
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Constraints registered</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <form action="/constraints/contract-code/create" method="GET">
                            <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">Create</button>
                        </form>
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>Short Desc.</th>
                                        <th>Include/Avoid</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let constraint of constraints) { %>
                                    <tr>
                                        <td><%= constraint.label %></td>
                                        <td><%= constraint.desc %></td>
                                        <td><%= constraint.avoid ? 'Avoid' : 'Include'  %></td>
                                        <td>
                                            <div class="row">
                                                <form action="/constraints/contract-code/edit/<%= constraint.id %>" enctype="application/x-www-form-urlencoded" method="GET">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <button type="submit" class="btn btn-info"><i class="la la-search"></i></button>
                                                </form>
                                                <form action="/constraints/contract-code/delete" enctype="application/x-www-form-urlencoded" method="POST">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="constraint" value="<%= constraint.id %>">
                                                    <button type="submit" class="btn btn-danger"><i class="la la-remove"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Basic Tables end -->
      </div>
    </div>
  </div>