<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs') %>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    
    <%- include('./scripts.ejs') %>

    <% if (auth) { %>

        <%- include('./navigation.ejs') %>

        <%- include('./sidebar.ejs') %>

    <% } %>

        <%- body %>
        
    <% if (auth) { %>

        <%- include('./footer.ejs') %>

    <% } %>
    
</body>
</html>