<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Buy Orders Table </h3>
        </div>
      </div>
      <div class="content-body"><!-- Basic Tables start -->
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Buy Orders Table</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements row">
                        <form action="/buy-orders/configuration" method="GET">
                            <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">Configuration</button>
                        </form>
                        <form action="/buy-orders/create" method="GET">
                            <button type="submit" class="btn btn-primary btn-min-width mr-1 mb-1">Create</button>
                        </form>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="buyOrders">
                                <thead>
                                    <tr>
                                        <th>Created At</th>
                                        <th>Label</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let buyOrder of buyOrders) { %>
                                    <tr>
                                        <td><%= moment(buyOrder.createdAt).format('hh:mm DD/MM/YYYY')%></td>
                                        <td><%= buyOrder.label %></td>
                                        <td><%= buyOrder.buyOrderStatus.label %></td>
                                        <td>
                                            <div class="row">
                                                <form action="buy-orders/edit/<%= buyOrder.id %>" enctype="application/x-www-form-urlencoded" method="GET">
                                                    <button type="submit" class="btn btn-info"><i class="la la-cog"></i></button>
                                                </form>
                                                <form action="buy-orders/delete" enctype="application/x-www-form-urlencoded" method="POST">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="buyOrder" value="<%= buyOrder.id %>">
                                                    <button type="submit" class="btn btn-danger"><i class="la la-remove"></i></button>
                                                </form>
                                            </div>           
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Basic Tables end -->
      </div>
    </div>
  </div>

  <script type="text/javascript">
        $(document).ready(function() {
            $('#buyOrders').DataTable( {
                "order": [[ 1, "desc" ]]
            } );
        } );
  </script>