<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Buy Orders Table </h3>
        </div>
      </div>
      <div class="content-body"><!-- Basic Tables start -->
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Buy Orders Table</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <form action="constraints/contract-code/create/" method="GET">
                            <button type="button" class="btn btn-primary btn-min-width mr-1 mb-1">Primary</button>
                        </form>
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Created At</th>
                                        <th>Label</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(buyOrder in buyOrders) { %>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><%= buyOrder.createdAt %></td>
                                        <td><%= buyOrder.label %></td>
                                        <td><%= buyOrder.buyOrderStatus.label %></td>
                                        <td>
                                            <form action="buy-orders/edit/<%= buyOrder.id %>" enctype="application/x-www-form-urlencoded" method="GET">
                                                <button type="submit" class="btn btn-info"><i class="la la-cog"></i></button>
                                            </form>
                                            <form action="buy-orders/delete" enctype="application/x-www-form-urlencoded" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="constraint" value="<%= buyOrder.id %>">
                                                <button type="submit" class="btn btn-info"><i class="la la-remove"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Basic Tables end -->
      </div>
    </div>
  </div>